@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #28255f;
    font-family: Arial, sans-serif;
}
.header-title {
    background-color: #a10726;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}
.header-title span {
    color: white;
}
.header-title .letter {
    color: red;
}
.gradient-text {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
}
h2 {
    background: #d32f2f;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}
.product-container {
    display: grid;
    gap: 1rem;
}
.product-item {
    background-color: #a10726;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    cursor: pointer;
    border: 2px solid red; /* Borde rojo alrededor del cuadro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para un mejor efecto visual */
    overflow: hidden; /* Evita que la imagen se salga del cuadro */
}
.product-item:hover {
    background-color: #7b051d;
}
.product-image {
    max-width: 100%;
    height: auto;
}
.product-name {
    font-weight: bold;
    margin-top: 0.5rem;
}
