body {
    background-color: #28255f;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header-title {
    background-color: #a10726;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 400px;
}

.header-title span {
    color: white;
}

.header-title .letter {
    color: red;
}

/* Contenedor principal para el logo y el formulario */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    max-width: 1000px; /* Limita el ancho máximo */
}

/* Estilos para el logo */
.logo-container {
    margin-right: 2rem;
    flex-shrink: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente el logo con el formulario */
}

.logo-container img {
    width: 150px; /* Ajusta el tamaño según lo necesario */
    height: auto;
}

/* Estilos para el formulario */
.form-container {
    background-color: #1f1c3d;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.form-input {
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
}

.text-white {
    color: white;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid white;
    background-color: #3a3768;
    color: white;
    margin-bottom: 0.5rem;
}

.input:focus {
    outline: none;
    border-color: red;
}

.submit-button, .back-button {
    background-color: #a10726;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    flex: 1;
    margin: 0 0.5rem;
}

.submit-button:hover, .back-button:hover {
    background-color: #7b051d;
}